<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Ninjas</title>
</head>
<body>
    <h1>Cadastrar Ninja</h1>
    <form th:action="@{/ui/salvar}" method="post" th:object="${ninja}">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" th:field="*{nome}"/>

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" th:field="*{cpf}"/>

        <label for="email">Email:</label>
        <input type="text" name="email" id="email" th:field="*{email}"/>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>